name: Deploy Production

on:
  push:
    branches:
      - main

jobs:
  deploy-db:
    name: Deploy Database Changes
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 9

      - name: Install dependencies
        run: pnpm install

      - name: Deploy Database Migrations
        env:
          DATABASE_URL: ${{ secrets.RAILWAY_DATABASE_URL }}
        run: pnpm db:migrate:deploy
